@media(max-width: 1600px)
{ 
    .choose-content{
        padding: 0;
        width: 100%;
        padding: 0 100px;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
    }
}

@media(max-width: 1300px)
{ 
    .choose-content{
        padding: 0;
        width: 100%;
        padding-left: 15px;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
    }

    .contact-list__map{
        display: none;
    }

    .contact-form{
        width: 100%;
    }
}

@media(max-width: 1250px)
{
    .home-header p{
        width: 70%;
    }

    .service-content{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .service-content__item{
        margin-right: 20px;
    }

    .service-content__item h3{    
        width: 100%;
        font-size: 20px;
    }

    .service-content__item h3::after{
        display: none;
    }

    .choose-content{
        padding: 0;
        width: 100%;
        padding-left: 15px;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
    }

    .choose-content__item-iso{
        width: 34%
    }
    .choose-content__item-prof{
        width: 66%;
    }    
    .choose-content__item-guar{      
        width: 66%;
    }
    .contact-row__item{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media(max-width: 1000px)
{
    .header-top{
        display: none;
    }

    .contact-container__header{
        padding: 40px 0;
    }

    .contact-list{
        padding: 0;
    }

    .contact-form{
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}